@model BarberAppDLL.Models.DomainModel.Deal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Deal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BarberGuid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BarberGuid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Percentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Percentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelGUID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelGUID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompletedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompletedDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
