@model IEnumerable<BarberAppDLL.Models.DomainModel.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BarberGuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserGuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArriveTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletionTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelGUID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatorId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BarberGuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserGuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArriveTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelGUID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatorId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
